.project_form {
    
    form {
        background-color: #fafafa25;
        border-radius: 8px;
        width: 320px;
    }
    button {
        width: 100%;
        margin: 5px 0;
        padding: .3em;
        cursor: pointer;
        font-weight: bold;
    }
}