*{margin:0;padding:0;box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    background: #666;
    color: #fff;
    font-family: 'Roboto';
}

.cabecalho {
    background-color: azure;
    text-align: center;
    color: #222;
    height: 60px;
}

.estilos {
    background-color: aquamarine;
    height: 80px;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    display: flex;

    .modelo-estilo {
        position: relative;
        height: 70px;
        width: 70px;
        margin-left: 5px;
        font-family: sans-serif;
        font-size: small;
        text-align: center;
        cursor: pointer;
        transition: .12s ease;
        
        Image {
            width: 70px;
            border-radius: 4px;
        }
        .premium {
            position: absolute;
            width: 20px;
            top: 0px;
            right: 0px;
            filter: drop-shadow(0 0 1px black);
            
        }
    }
    .modelo-estilo:hover {
        filter: drop-shadow(0 0 1px black);
        transform: scale(1.05);

        .premium {
            filter: brightness(1.2) drop-shadow(0 0 1px black);
        }
    }
}

.main {
    background-color: aqua;
    padding: 10px;
    width: 550px;
    height: 350px;
    margin: auto;
    display: flex;

    .principal {
        background-color: orangered;
        width: 330px;
        height: 330px;
        position: relative;
        transition: .2s;


        .foto {

            .foto-base {
            width: 330px;
            height: 330px;
            padding: 0;
            object-fit: cover;
            }

            .logo-partido {
                filter: drop-shadow(0 0 1px white);
                position: absolute;
                top: -50px;
                right: -35px;
                transform: scale(.5);
            }

        .cargo {
            position: absolute;
            bottom: 112px;
            left: 10px;
            font-size: 15px;
            filter: drop-shadow(1px 1px 1px rgb(0,0,0));
        }

        .nome-candidato {
            color: white;
            position: absolute;
            line-height: 100%;
            bottom: 80px;
            left: 10px;
            font-family: sans-serif;
            font-weight: 900;
            // font-size: 28px;
            filter: drop-shadow(1px 1px 1px rgb(0,0,0));
        }

        .numero-candidato {
            color: rgb(00,165,80);
            position: absolute;
            line-height: 100%;
            bottom: 10px;
            left: 10px;
            font-family: sans-serif;
            font-weight: 900;
            // font-size: 75px;
            letter-spacing: -1px;
            filter: drop-shadow(1px 1px 2px rgb(255,242,00));
        }

        .info {
            position: absolute;
            color: #fff;
            bottom: 0;
            left: 10px;
            font-size: 10px;
            letter-spacing: 0;
            font-weight: 300;
            filter: drop-shadow(0 0 2px rgb(0,0,0));
        }
        }
    }
    .menu {
        position: relative;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        background-color: rgba(0, 128, 0, 0.6);
        width: 190px;
        height: 330px;
        font-family: 'Roboto';

        .dados-candidato {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5px;

            input {
                margin-right: 1px;
                padding: 0 3px;
                border: none;
                border-radius: 2px;
                margin-bottom: 2px;
            }

            textarea {
                margin-right: 1px;
                padding: 0 3px;
                border: none;
                border-radius: 2px;
                font-family: 'Roboto';
                font-size: 10pt;
                resize: none;
            }
        }

        .setup {
            margin:0 5px;
            display: flex;
            flex-direction: column;
            

            span {
                font-size: 10px;
            }

            input {
                transform: scale(.8);
            }
            select {
                transform: scale(.8);
                option {
                font-size: 11px;
                }
            }
            
            button {
                margin: 5px 0;
            }
        }
    }
}

.setting {
    display: flex;
    flex-direction: row;
}

.botao-salvar:hover {
    display: none;
}

.escondido {
    display: none;
}
